In [1]:
from pandas import read_csv
import requests

## Download and Save Iris Flower Classification Dataset:

In [2]:
req = requests.get("https://raw.githubusercontent.com/jbrownlee/Datasets/master/iris.csv")
url_content = req.content
csv_file = open('Dataset/iris.csv', 'wb')

csv_file.write(url_content)
csv_file.close()

## Discovering the dataset:

In [3]:
dataset = read_csv('Dataset/iris.csv', names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'])
print("Data set shape: ", dataset.shape)
dataset.head(10)

Data set shape:  (150, 5)

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

The **describe()** function will include the:
1. count
2. mean
3. min and max 
4. as well as some percentiles

In [4]:
dataset.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### Class Distribution:
Now we will look at the number of instances that belong to each class and we can view this as a absolute count:

In [5]:
dataset.groupby('class').size()

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64